<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Dashbord</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="http://127.0.0.1:5500/AjoutEleve.html?">Enregistrer Eleve</a></li>
                <li><a href="#">Niveaux</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Notes</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">Welcome to Breukh'S Cool.</div>
        </div>
   <!--  <ul class="carre">Liste des Classes
        <li>CI</li>
        <li>CP</li>
        <li>CE1</li>
        <li>CE2</li>
        <li>CM1</li>
        <li>CM2</li>
        <li>6e</li>
        <li>5e</li>
        <li>4e</li>
        <li>3e</li>
        <li>2nd</li>
    </ul> -->
    </div>
</body>

</html>